<div id="list">
	<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-8">
	    <li ng-repeat="serie in series | filter:rechercher | orderBy:rtri:rsens()">
	    	<a title="Voir cette série" href="#/series/{{ serie.tmdbid }}">
		        <img ng-src="api/data/series/poster/{{ serie.tmdbid }}_w300.jpg" alt="{{ serie.nom }}" /><br />
		        {{ serie.nom }}<br />
	    	</a>
	        <div class="legende">{{ min(serie.nbseasons,serie.tnbseasons) }} saison{{ serie.nbseasons | affs }} / {{ serie.tnbseasons }}</div>
	    </li>
	</ul>
</div>

<div class="text-center" ng-hide="series.length > 0">
<p><br /><br /><br /></p>
<img src="images/load_big.gif" alt="Chargement" />
</div>

<div ng-hide="series.length == 0">
	<div class="text-center" ng-show="(series | filter:rechercher).length == 0">
	<p><br /></p>
	Appuyez sur Entrée pour rechercher dans tous les fichiers ;-)
	</div>
</div>