<div class="row">
	<div class="small-12 medium-8 medium-centered large-offset-3 columns">
		<h2>Suggérer un film/une série</h2>
		<form ng-submit="searchSuggest()">
    	    <input type="text" id="rechercher" name="rechercher" ng-model="rechercher" placeholder="De quel film/série s'agit-il ?" />
    	    <input type="submit" />
    	</form>
    	<h3 ng-if="message">{{ message }}</h3>
    	<div ng-if="results">
    		<h3>Choisissez le film/la série concernée</h3>
    		<table>
    			<thead>
    				<tr>
    					<td>Titre</td>
    					<td>Sortie</td>
    					<td>Type</td>
    				</tr>
    			</thead>
				<tbody>
					<tr ng-repeat="result in results.results" ng-class-odd="'calt'" ng-if="result.media_type != 'person'">
						<td><a title="Demander le téléchargement" ng-click="askFor(result)">{{ result.original_name && result.original_name || result.original_title }}</a></td>
						<td>
							<span ng-if="result.first_air_date">{{ result.first_air_date | amCalendar }}</span>
							<span ng-if="result.release_date">{{ result.release_date | amCalendar }}</span>
						</td>
						<td>
							<span ng-if="result.media_type == 'movie'">Film</span>
							<span ng-if="result.media_type == 'tv'">Série</span>
						</td>
					</tr>
				</tbody>
			</table>
    	</div>
	</div>
</div>