<!doctype html>
<html lang="fr" ng-app="fruitsApp">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>Fruits v5</title>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/animations.css">
  <link rel="stylesheet" href="css/foundation.css">
  <link href="bower_components/open-iconic/font/css/open-iconic-foundation.css" rel="stylesheet">
  <link rel="stylesheet" href="css/app.css?m1=1">
  <link rel="icon" type="image/png" href="favicon.png" />
  <link rel="apple-touch-icon" href="favicon.png" />
  
  <script src="js/vendor/modernizr.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <script src="bower_components/moment/lang/fr.js"></script>
  <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/checkimages.js"></script>
  <!-- <script src="js/animations.js"></script> -->
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
  <script src="js/directives.js"></script>
</head>
<body key-trap>
<div id="header">
  <div id="titre" class="hide-for-small-only">
    <span class="leger">Il a </span>Fruits<span class="leger">, il a tout compris !</span>
  </div>
  <div id="menu">
    <div id="categories">
        <a class="cat" href="#/films" class="cat" ng-class="page == 'films' && 'actif'">
            Films
        </a>
        <a title="Séries" href="#/series" class="cat" ng-class="page == 'series' && 'actif'">
            Séries
        </a>
        <a title="Nouveautés" href="#/new" class="cat" ng-class="page == 'new' && 'actif'">
            Nouveautés
        </a>
        <a title="Serveurs" href="#/serveurs" class="cat" ng-class="page == 'serveurs' && 'actif'">
            Serveurs
        </a>
        <div class="cat" ng-hide="page == 'serveurs'">
            Tri :<span class="select">
                  <select ng-model="rtri" ng-init="rtri = 'popularity'">
                    <option value="popularity">Popularité</option>
                    <option value="title">Nom</option>
                    <option value="release_date">Date de sortie</option>
                  </select>
                </span>
        </div>
    </div>
    <div id="options" class="hide-for-small-only">
    	<form ng-submit="search()">
          <a data-dropdown="dropdl" id="bdl" ng-show="nbDownloads > 0"><span class="fi-data-transfer-download"></span></a>

    	    <input type="text" id="rechercher" name="rechercher" ng-model="rechercher" placeholder="Rechercher..." />
    	    <input type="submit" class="hide" />
    	</form>
    </div>
  </div>
  <ul id="dropdl" class="[tiny small medium large content]f-dropdown" data-dropdown-content>
    <li ng-repeat="dl in downloads"><a ng-click="dl.run = false"><strong>[Annuler]</strong> {{ dl.nom }} ({{ dl.nbfiles }} fichier{{ dl.nbfiles | affs }} restant{{ dl.nbfiles | affs }})</a></li>
  </ul>
  <div class="barred"></div>
</div>
  
  
  <div id="body" ng-view></div>
  <audio src='' id='lecteurm' controls="controls" autoplay="autoplay"></audio>
  <div id="dlf">
    <li ng-repeat="fichier in dlfiles">
      <a href="ftp://{{ (fichier.serveur == 'thunder' && fichier.seuil) && 'thunder2' || fichier.serveur }}{{ fichier.chemin_complet }}" download="{{ fichier.nom }}" data-serveur="{{ (fichier.serveur == 'thunder' && fichier.seuil) && 'thunder2' || fichier.serveur }}" ng-click="clickf(fichier.id)" id="dlfi{{ fichier.id }}">Fichier {{ fichier.id }}</a>
    </li>
    <li ng-repeat="img in imgFtpStates">
      <div id="imgftp{{ img }}"></div>
    </li>
  </div>
  <script src="js/foundation.min.js"></script>
  <script src="js/foundation/foundation.dropdown.js"></script>
  <script>
	$(document).foundation();
  </script>
</body>
</html>
