<!doctype html>
<html lang="fr" ng-app="fruitsApp">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fruits v5</title>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/animations.css">
  <link rel="stylesheet" href="css/foundation.css">
  <link href="bower_components/open-iconic/font/css/open-iconic-foundation.css" rel="stylesheet">
  <link rel="stylesheet" href="css/app.css">
  
  <script src="js/vendor/modernizr.js"></script>
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/Vague.js/Vague.js"></script>
  <script src="lib/blur.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <script src="bower_components/moment/lang/fr.js"></script>
  <script src="js/app.js"></script>
  <!-- <script src="js/animations.js"></script> -->
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
  <script src="js/directives.js"></script>
</head>
<body key-trap>
<div id="header">
  <div id="titre" class="hide-for-small-only">
    Fruits
  </div>
  <div id="menu">
    <div id="categories">
        <a class="cat" href="#/films" class="cat" ng-class="page == 'films' && 'actif'">
            Films
        </a>
        <a title="Séries" href="#/series" class="cat" ng-class="page == 'series' && 'actif'">
            Séries
        </a>
        <a title="Serveurs" href="#/serveurs" class="cat" ng-class="page == 'serveurs' && 'actif'">
            Serveurs
        </a>
        <div class="cat" ng-hide="page == 'serveurs'">
            Tri :<select ng-model="rtri" ng-init="rtri = 'popularity'">
                    <option value="popularity">Popularité</option>
                    <option value="title">Nom</option>
                    <option value="release_date">Date de sortie</option>
                </select>
        </div>
    </div>
    <div id="options" class="hide-for-small-only">
	<form ng-submit="search()">
	    <input type="text" id="rechercher" name="rechercher" ng-model="rechercher" placeholder="Rechercher..." />
	    <input type="submit" class="hide" />
	</form>
    </div>
  </div>
  <div class="barred"></div>
</div>
  
  
  <div id="body" ng-view></div>
  
  <script src="js/foundation.min.js"></script>
  <script>
	$(document).foundation();
	/*
	$('#header').blurjs({
	    customClass: 'blurjs',
	    radius: 5,
	    persist: false
	});
	*/
	/*
	var vague = $('#header').Vague({
	    intensity:      3,      // Blur Intensity
	    forceSVGUrl:    false,   // Force absolute path to the SVG filter,
	    // default animation options
	    animationOptions: {
	      duration: 1000,
	      easing: 'linear' // here you can use also custom jQuery easing functions
	    }
	});

	vague.blur();
	*/
	$.fn.animatecss = function(anim, time, cb) {
	    if (time) this.css('-webkit-transition', time / 1000 + 's');
	    this.addClass(anim);
	    if ($.isFunction(cb)) {
	        setTimeout(function() {
	            // Ensure that the element is available inside the callback.
	            $(this).each(cb);
	
	        }, (time) ? time : 250);
	    }
	    return this;
	};
  </script>
</body>
</html>
